.header {
  display: flex;
  height: 50px;
  /* padding: 15px ; */
}
.header__title {
  margin: 15px 98px 15px 16px;
  width: 168px;
  font-weight: 500;
  font-size: 18px;
  line-height: 19px;
  letter-spacing: -0.99px;
  height: 20px;
  color: var(--main-title-color);
  display: flex;
}
.header__icon-marketplace {
  width: 32px;
  height: 32px;
  background-image: url('../../images/icon-marketplace.svg');
  margin: 9px 18px 9px 0;
}
.header__icon-burger-menu {
  margin: 9px 19px 9px 0;
  width: 32px;
  height: 32px;
  background-image: url('../../images/icon-burger-menu.svg');
}
.header__icon-heart {
  margin: 5px 2px 0;
  width: 12px;
  height: 13px;
  background-position: center;
  background-position-y: -4px;
  /* background-size: c/; */
  background-repeat: no-repeat;
  background-image: url('../../images/icon-heart-for-word.svg');
}
