.case {
  width: 343px;
  min-height: 250px;
  margin: 0 auto 8px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 12px;
}
.case__wrapper-horizont {
  height: 161px;
  display: flex;
  overflow: hidden;
  border-bottom: 1px solid #c6d4ee;
  position: relative;
}
.case__wrapper-horizont_army {
  height: 191px;
}
.case__wrapper-horizont_army .case__title {
  margin-bottom: 0;
}
.case__wrapper-horizont_pregnant .case__title {
  margin-bottom: 8px;
}
.case__wrapper-horizont-2 {
  display: flex;
  overflow: hidden;
}
.case__wrapper-vertical {
  margin: 16px 0 0 16px;
  display: flex;
  flex-direction: column;
  z-index: 5;
}
.case__wrapper-vertical-2 {
  margin: 16px 0 0 16px;
  display: flex;
  flex-direction: column;
}
.case__title {
  letter-spacing: -1px;
  margin: 0 0 8px 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  width: 180px;
}
.case__text {
  margin: 0 0 33px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--second-text-color);
  max-width: 180px;
}
.case__text-dead {
  margin-bottom: 13px;
}
.case__text_steps {
  margin: 0;
}
.case__text_experts {
  margin: 0 0 16px 0;
}
.case__image {
  margin: 10px 0 0 0;
  object-fit: cover;
  height: 236px;
  position: absolute;
  right: 0;
}

.case__select {
  margin: 0px 76px 18px 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}
.case__icon-select {
  width: 10px;
  height: 5px;
  background-image: url('../../images/icon-select-list-black-small.svg');
  margin: 6px 0 0 0;
  background-size: cover;
}
.case__timeline {
  height: 9px;
  height: 2px;
  background-color: #c6d4ee;
  width: 311px;
  margin: 0 16px 19px 0;
  position: relative;
}
.case__range {
  width: 9px;
  height: 9px;
  background-image: url('../../images/icon-range-line.svg');
  position: absolute;
  top: -3.5px;
}
.case__range:nth-child(2) {
  left: 101px;
}
.case__range:nth-child(3) {
  left: 202px;
}
.case__range:nth-child(4) {
  left: 303px;
}
