@font-face {
  font-family: 'Golos';
  src: url('./Golos/golos.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Golos';
  src: url('./Golos/golostext_regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Golos';
  src: url('./Golos/golostext_medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Golos';
  src: url('./Golos/golostext_demibold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Golos';
  src: url('./Golos/golostext_bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Golos';
  src: url('./Golos/golostext_black.ttf') format('ttf');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
